.task-list {
  position: relative;
}

.task-list__btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: transparent;
  border: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 100%;
  background-color: #f8f9fa;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined  {
  font-size: 35px;
}

.tasks-list {
  padding: 0;
  margin: 0;
}

.tasks-list__task {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  min-height: 75px;
}


.list-task__title {
  font-weight: 400;
  font-size: 25px;
  color: #000;
}

.list-task__checkbox {
  width: 30px;
  height: 30px;
}

